$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: #F2F2F2;

@mixin button-shadow{
    box-shadow: 0px 5px 10px 2px rgb(196, 196, 196);
}

@mixin item-shadow{
    box-shadow: 0px 5px 10px 2px rgb(226, 226, 226);
}

@mixin button-background{
    background: linear-gradient($color-secondary, $color-primary);
}


body {
    font-family: 'Roboto';
    font-size: 100%;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    margin: 0;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

h2 {
    margin: 20px;
    font-size: 1.5rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
}


/*Header*/

.header__logo {
    width: 45%;
    display: flex;
    margin: 17px auto;
}

/*home*/

.home__search {
    display: flex;
    justify-content: center;
    background-color: darken($color: $color-background, $amount: 5%);
    padding: 15px;
    box-shadow: inset;
    -webkit-box-shadow: inset 0px 20px 5px -20px rgba(158,158,158,1);
    &-input {
        border: none;
        background-color: darken($color: $color-background, $amount: 5%);
        text-align: center;
        font-size: 1rem;
    }
    &-input:focus {
        outline: none;
    }
}

.home__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    background-color: $color-background;
    &-title {
        margin: 15px 0;
        font-size: 1.5rem;
        padding: 0 50px;
    }
    &-content {
        margin: 0 20px;
        font-size: 1rem;
    }
    &-button {
        border-radius: 25px;
        @include button-background;
        padding: 15px 20px;
        margin: 35px;
        border: none;
        @include button-shadow;
        &-link {
            color: #fff;
            font-size: 1rem;
        }
        &-button:hover {

        }
    }
}

.home__operation{
    margin: 50px 0;
    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-item {
        background-color: lighten($color: $color-background, $amount: 1%);
        display: flex;
        margin: 10px 15px 15px 15px;
        padding: 5px;
        border-radius: 20px;
        @include item-shadow;
        width: 80%;
        align-items: center;
        &--number {
            background-color: $color-primary;
            border-radius: 50%;
            font-size: .9rem;
            padding: 4px 8px;
            text-align: center;
            color: #fff;
            margin: 20px 20px 20px -20px;
        }
        &-icon--grey, &-icon--primary {
            font-size: 1.2rem;
        }
        &-icon--grey {
            color: darken($color: $color-background, $amount: 45%);
        }
        &-icon--primary{
            color: $color-primary;
        }
        &--text {
            margin: 20px;
            font-weight: 900;
            font-size: 1rem;
        }
    }
    &-item--primary {
        background-color: lighten($color: $color-primary, $amount: 35%);
    }

}