body {
  font-family: 'Roboto';
  font-size: 100%;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  margin: 0; }

h1,
h2,
h3,
h4 {
  font-weight: 700; }

h1,
h5 {
  font-family: 'Shrikhand'; }

h2 {
  margin: 20px;
  font-size: 1.5rem; }

h3,
p {
  margin: 5px 0; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #000000; }

/*Button + animation*/
.home__text-button,
.restau__page--menu-button {
  color: #FFFFFF;
  font-size: 1rem;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px 20px;
  margin: 0;
  border: none;
  box-shadow: 0px 5px 10px 2px #c4c4c4;
  opacity: 1; }
  .home__text-button:hover,
  .restau__page--menu-button:hover {
    transition: opacity 250ms;
    opacity: 0.8;
    box-shadow: 0px 5px 10px 2px #8e8e8e; }

.restau__page--menu-button {
  width: 185px; }

/*Animations*/
/*Loading Spinner*/
@keyframes spinner {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes spinner {
  /* sur Firefox */
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes spinner {
  /* sur Safari et Chrome */
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-o-keyframes spinner {
  /* sur Opera */
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.page-loading {
  background: linear-gradient(#99E2D0, #FFFFFF);
  height: 700px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .page-loading .page-loading_section {
    width: 214px;
    height: 214px;
    display: inline-block;
    overflow: hidden; }
    .page-loading .page-loading_section--spinner {
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateZ(0) scale(1);
      backface-visibility: hidden;
      transform-origin: 0 0;
      color: #FFFFFF;
      font-family: 'Shrikhand';
      font-size: 1.4rem; }

.page-loading_section--spinner div {
  left: 100px;
  top: 50px;
  position: absolute;
  animation: spinner linear 1s infinite;
  background: #FFFFFF;
  width: 13px;
  height: 26px;
  border-radius: 6px / 12px;
  transform-origin: 6px 55px;
  box-sizing: content-box; }
  .page-loading_section--spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s; }
  .page-loading_section--spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s; }
  .page-loading_section--spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s; }
  .page-loading_section--spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s; }
  .page-loading_section--spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s; }
  .page-loading_section--spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s; }
  .page-loading_section--spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s; }
  .page-loading_section--spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s; }
  .page-loading_section--spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s; }
  .page-loading_section--spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s; }
  .page-loading_section--spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s; }
  .page-loading_section--spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s; }

/*Chargement Menu*/
.food-content {
  animation: slide-top 1800ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -webkit-animation: slide-top 1800ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -moz-animation: slide-top 1800ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -o-animation: slide-top 1800ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@keyframes slide-top {
  from {
    opacity: 0;
    transform: translateY(0); }
  to {
    opacity: 1;
    transform: translateY(-20px); } }

@-moz-keyframes slide-top {
  /* sur Firefox */
  from {
    opacity: 0;
    transform: translateY(0); }
  to {
    opacity: 1;
    transform: translateY(-20px); } }

@-webkit-keyframes slide-top {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
    transform: translateY(0); }
  to {
    opacity: 1;
    transform: translateY(-20px); } }

@-o-keyframes slide-top {
  /* sur Opera */
  from {
    opacity: 0;
    transform: translateY(0); }
  to {
    opacity: 1;
    transform: translateY(-20px); } }

.item-2 {
  animation-delay: 150ms; }

.item-3 {
  animation-delay: 300ms; }

.item-4 {
  animation-delay: 450ms; }

/*Footer*/
.footer {
  padding: 20px;
  background-color: #333333; }
  .footer__logo {
    width: 30%;
    margin: 0 auto 15px 5px;
    justify-content: center;
    color: #FFFFFF;
    font-size: 1rem; }
  .footer__menu {
    margin: 5px;
    padding: 0; }
    .footer__menu--link {
      padding-bottom: 9px; }
      .footer__menu--link-icon {
        margin-right: 5px;
        font-size: .8rem;
        color: #FFFFFF; }
      .footer__menu--link .footer__meu--link-content {
        color: #FFFFFF; }

/*Header*/
.header__logo {
  width: fit-content;
  width: -moz-fit-content;
  display: flex;
  margin: 17px auto; }

/*section Home*/
.home__search {
  display: flex;
  justify-content: center;
  background-color: #e5e5e5;
  padding: 15px;
  box-shadow: inset;
  -webkit-box-shadow: inset 0px 20px 5px -20px #9e9e9e; }
  .home__search-input {
    border: none;
    background-color: #e5e5e5;
    text-align: center;
    font-size: 1rem; }
  .home__search-input:focus {
    outline: none; }

.home__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 0 35px;
  background-color: #F2F2F2; }
  .home__text-title {
    margin: 15px 0;
    font-size: 1.5rem;
    padding: 0 50px; }
  .home__text-content {
    margin: 0 20px 35px;
    font-size: 1rem; }

.home__operation {
  margin: 50px 0; }
  .home__operation-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .home__operation-item {
    background-color: whitesmoke;
    display: flex;
    margin: 10px 15px 15px 15px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 2px #e2e2e2;
    width: 80%;
    align-items: center; }
    .home__operation-item--number {
      background-color: #9356DC;
      border-radius: 50%;
      font-size: .9rem;
      padding: 4px 8px;
      text-align: center;
      color: #fff;
      margin: 20px 20px 20px -20px; }
    .home__operation-item-icon--grey, .home__operation-item-icon--primary {
      font-size: 1.2rem; }
    .home__operation-item-icon--grey {
      color: #7f7f7f; }
    .home__operation-item-icon--primary {
      color: #9356DC; }
    .home__operation-item--text {
      margin: 20px;
      font-weight: 900;
      font-size: 1rem; }
  .home__operation-item--primary {
    background-color: #f2eafb; }

/*section Restau*/
.restau {
  margin-bottom: 65px; }
  .restau__title {
    display: flex;
    flex-basis: 100%; }
  .restau__item {
    box-shadow: 0px 5px 10px 2px #e2e2e2;
    display: flex;
    border-radius: 15px;
    margin: 20px;
    flex-basis: 100%; }
    .restau__item--link {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      height: fit-content; }
    .restau__item--background-image {
      border-radius: 15px 15px 0 0;
      height: 175px;
      background-position: center;
      background-size: cover; }
      .restau__item--background-image-new {
        width: fit-content;
        width: -moz-fit-content;
        margin: 10px;
        padding: 5px 10px;
        background-color: #99E2D0;
        color: #278870;
        font-size: .9rem;
        border-radius: 2px;
        display: flex;
        margin-left: auto; }
    .restau__item--content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-basis: 100%;
      padding: 10px;
      height: 60px; }
  .restau .icon-favorite {
    font-size: 1.5rem;
    margin: 10px;
    position: relative;
    height: 23px;
    width: 23px; }
    .restau .icon-favorite::before {
      content: '\f004';
      font-family: 'Font Awesome 5 free';
      position: absolute;
      font-weight: 400; }
    .restau .icon-favorite:hover::after {
      content: '\f004';
      font-family: 'Font Awesome 5 free';
      position: absolute;
      background: linear-gradient(#FF79DA, #9356DC);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 900; }
  .restau .img__palette {
    background-image: url(images/restaurants/la-palette-du-gout.jpg); }
  .restau .img__note {
    background-image: url(images/restaurants/la-note-enchantee.jpg); }
  .restau .img__francaise {
    background-image: url(images/restaurants/a-la-francaise.jpg); }
  .restau .img__delice {
    background-image: url(images/restaurants/le-delice-des-sens.jpg); }

@media all and (min-width: 765px) {
  /*Home*/
  .home__operation {
    max-width: 1200px;
    margin: 50px auto; }
    .home__operation-wrapper {
      flex-direction: row;
      justify-content: center; }
    .home__operation-item {
      width: 28%; }
  .restau {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 50px auto; }
    .restau__item {
      flex-basis: 44%; } }

/*Pages*/
/*Header-page*/
.header__page {
  display: flex;
  align-items: center; }
  .header__page .header__icon--return {
    margin: 20px; }
  .header__page .header__logo--page {
    margin: 10px 55px 10px 0;
    font-size: 1.8rem;
    flex-grow: 1;
    justify-content: center; }

/*Restau-page*/
.restau__page--background-image {
  height: 275px;
  background-position: center;
  background-size: cover; }

.restau__page .img__palette {
  background-image: url(images/restaurants/la-palette-du-gout.jpg); }

.restau__page .img__note {
  background-image: url(images/restaurants/la-note-enchantee.jpg); }

.restau__page .img__francaise {
  background-image: url(images/restaurants/a-la-francaise.jpg); }

.restau__page .img__delice {
  background-image: url(images/restaurants/le-delice-des-sens.jpg); }

.restau__page--menu {
  background-color: #F2F2F2;
  border-radius: 35px 35px 0 0;
  margin-top: -50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  padding-bottom: 45px; }
  .restau__page--menu-head {
    flex-basis: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between; }
    .restau__page--menu-head-title {
      font-family: 'Shrikhand';
      font-size: 1.6rem; }
    .restau__page--menu-head-icon {
      font-size: 1.6rem;
      margin: 25px; }

.restau__page-food {
  width: 93%; }
  .restau__page-food--wrapper {
    margin-bottom: 50px; }
  .restau__page-food .food-title {
    font-weight: 100;
    font-size: 1rem;
    margin: 40px 10px 40px 5px; }
  .restau__page-food .food-title::after {
    content: "";
    display: block;
    border: solid 1.5px #99E2D0;
    background-color: #99E2D0;
    width: 35px;
    margin: 5px 0; }
  .restau__page-food .food-content {
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 15px 0;
    padding: 10px;
    box-shadow: 0px 5px 10px 2px #e2e2e2;
    position: relative;
    overflow: hidden; }
    .restau__page-food .food-content__text--h {
      width: 100%;
      margin: 0;
      padding: 3px;
      font-size: 1.1rem; }
    .restau__page-food .food-content__text--p {
      width: 265px;
      margin: 0;
      padding: 3px;
      font-size: .9rem;
      transition-property: all;
      transition-duration: 500ms;
      transition-timing-function: ease-in-out;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
    .restau__page-food .food-content__text--price {
      margin: 0;
      transform: translateX(0);
      transition-property: all;
      transition-duration: 500ms;
      transition-timing-function: ease-in-out; }
    .restau__page-food .food-content .anim-food {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition-property: all;
      transition-duration: 500ms;
      transition-timing-function: ease-in-out;
      background-color: #99E2D0;
      position: absolute;
      transform: translate(500%, -10px); }
      .restau__page-food .food-content .anim-food__icon {
        color: #FFFFFF;
        font-size: 1.5rem;
        transition-property: all;
        transition-duration: 500ms;
        transition-timing-function: ease-in-out;
        transform: rotate(0); }
    .restau__page-food .food-content:hover .anim-food {
      transform: translate(390%, -10px); }
      .restau__page-food .food-content:hover .anim-food__icon {
        transform: rotate(360deg); }
    .restau__page-food .food-content:hover .food-content__text--price {
      transform: translateX(-250%); }
    .restau__page-food .food-content:hover .food-content__text--p {
      width: 210px; }

@media all and (min-width: 765px) {
  /*Pages*/
  .restau__page-food {
    width: 98%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .restau__page-food--wrapper {
      display: flex;
      flex-direction: column;
      flex-basis: 100%; }
    .restau__page-food .food-wrapper {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
      .restau__page-food .food-wrapper .food-content {
        min-height: 100px;
        align-content: space-around;
        flex-basis: 30%; }
        .restau__page-food .food-wrapper .food-content__text--p {
          width: 100%; }
        .restau__page-food .food-wrapper .food-content__text--price {
          width: 100%;
          text-align: end; }
        .restau__page-food .food-wrapper .food-content:hover .food-content__text--price {
          transform: translateX(-25%); } }

@media all and (min-width: 1025px) {
  .restau__page--menu-head {
    padding: 0 20px; }
  .food-wrapper {
    flex-direction: column; }
  .restau__page-food--wrapper {
    flex-basis: 30%; } }
