/*Button + animation*/

.home__text-button,
.restau__page--menu-button {
    color: $color-white;
    font-size: 1rem;
    border-radius: 25px;
    @include button-background;
    padding: 15px 20px;
    margin: 0;
    border: none;
    @include button-shadow;
    opacity: 1;

    &:hover {
        transition: opacity 250ms;
        opacity: 0.8;
        @include button-shadow--hover;
    }
}

.restau__page--menu-button {
    width: 185px;
}