/*Pages*/

/*Header-page*/

.header__page {
    display: flex;
    align-items: center;

    .header__icon--return {
        margin: 20px;
    }

    .header__logo--page {
        margin: 10px 55px 10px 0;
        font-size: 1.8rem;
        flex-grow: 1;
        justify-content: center;
    }
}

/*Restau-page*/

.restau__page {
    &--background-image {
        height: 275px;
        background-position: center;
        background-size: cover;
    }

    .img__palette {
        background-image: url(images/restaurants/la-palette-du-gout.jpg);
    }

    .img__note {
        background-image: url(images/restaurants/la-note-enchantee.jpg);
    }

    .img__francaise {
        background-image: url(images/restaurants/a-la-francaise.jpg);
    }

    .img__delice {
        background-image: url(images/restaurants/le-delice-des-sens.jpg);
    }

    &--menu {
        background-color: $color-background;
        border-radius: 35px 35px 0 0;
        margin-top: -50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: baseline;
        padding-bottom: 45px;

        &-head {
            flex-basis: 100%;
            display: flex;
            align-items: center;

            &-title {
                font-family: 'Shrikhand';
                font-size: 1.6rem;
            }

            &-icon {
                font-size: 1.6rem;
                margin: 25px;
            }
        }
    }
}

.restau__page-food {
    width: 93%;

    &--wrapper {
        margin-bottom: 50px;
    }

    .food-title {
        font-weight: 100;
        font-size: 1rem;
        margin: 40px 10px 40px 5px;
    }

    .food-title::after {
        content: "";
        display: block;
        border: solid 1.5px $color-tertiary;
        background-color: $color-tertiary;
        width: 35px;
        margin: 5px 0;
    }

    .food-content {
        background-color: white;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 15px 0;
        padding: 10px;
        @include item-shadow;
        position: relative;
        overflow: hidden;

        &__text {
            width: 80%;
            margin: 2px;
            transition: all 500ms ease-in-out;

            &--h, &--p {
                width: 100%;
                margin: 0;
                padding: 3px; 
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;        
            }

            &--h {
                font-size: 0.9rem;
            }

            &--p {
                font-size: .85rem;
            }
        }

        &__text--price {
            width: 7%;
            display: flex;
            align-items: flex-end;
            margin: 10px;
            transform: translateX(0);
            transition: all 500ms ease-in-out;
        }
        

        .anim-food {
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 500ms ease-in-out;
            background-color: $color-tertiary;
            position: absolute;
            top: 0;
            transform: translate(500%, 0);

            &__icon {
                color: $color-white;
                font-size: 1.5rem;
                transition: all 590ms ease-in-out;
                transform: rotate(0);
            }
        }

        &:hover {

            .anim-food{
                transform: translate(395%, 0);

                &__icon {
                    transform: rotate(360deg);
                }
            }

            .food-content__text--price { 
                transform: translateX(-250%);
            }

            .food-content__text {
                width: 65%;
            }
        }
    }
}


@media all and (min-width: 765px)

/*Tablette*/
{
    /*Pages*/

    .restau__page-food {
        width: 98%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        &--wrapper {
            display: flex;
            flex-direction: column;
            flex-basis: 100%;
        }

        .food-wrapper {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            .food-content {
                min-height: 100px;
                align-content: space-around;
                flex-basis: 30%;

                .food-content__text {
                    width: 100%;

                    &--p {
                        width: 100%;
                    }

                    &--price {
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                    }
                }

                &:hover {

                    .food-content__text {
                        width: 75%;
                    }

                    .food-content__text--price { 
                        transform: translateX(-25%);
                    }
                }
            }
        }
    }
}

@media all and (min-width: 1025px)

/*Desktop*/
    {
    
    .restau__page--menu-head {
        padding: 0 20px;
    }

    .food-wrapper {
        flex-direction: column;
    }

    .restau__page-food--wrapper {
        flex-basis: 30%;
        display: block;
    }

}